header{
    color: #dcb114;
    background-color: rebeccapurple;
    font-family: "Bauhaus 93";
    letter-spacing: 5mm;
}
/*nav menüüs link fookuses on teise taustaga*/
nav{
    padding: 2% ;
    margin-top: 4%;
    background-color: lightcyan;
}
nav li{
    float: left;
}
nav ul{
    list-style-type: none;
    overflow: visible;
}
nav li a{
    display: block;
    padding: 10px;
    background-color: rebeccapurple;
    color: #dcb114;
    text-decoration: none;
    text-align: center;
}
nav li a:hover{
    background-color: turquoise;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #dcb114;
    width: 100%;
    text-align: center;
}
main section{
    border-left: 6px solid #dcb114;

    background-color: cornsilk;
    border-radius: 60px;
    padding: 2%;
    width: 30%;
    margin: 30px;
}
#teine{
    position: absolute;
    left: 900px;
    top:250px
}